<?xml version="1.0" encoding="utf-8"?>

<!-- In principle, each app should have unique package -->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="rs.aleph.android.jelovnik">

    <!-- Declares that the app needs a permission to access internet -->
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:icon="@mipmap/ic_launcher"
        android:theme="@style/mojaTema">

        <!-- Declares 1st (main) activity. Action "MAIN" and category "LAUNCHER" properties makes it visible in the application launcher -->
        <activity
            android:name="aktivnosti.FirstActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Deklarisanje druge aktivnosti tj. Setings Activity -->
        <activity android:name="aktivnosti.PodesavanjaActivty"
            android:label="@string/podesavanja"
            android:parentActivityName="aktivnosti.FirstActivity">


        </activity>

        <activity android:name="aktivnosti.UnosIspravkaJela"
            android:label="@string/unos_jela"
            android:parentActivityName="aktivnosti.FirstActivity">


        </activity>

        <activity android:name="aktivnosti.UnosKategorija"
            android:label="@string/unos_kategorija"
            android:parentActivityName="aktivnosti.FirstActivity">


        </activity>



    </application>

</manifest>
